.normal {
  background-color: #E8EAF6;
  border: 1px solid white;
}

.selected {
  background-color: #C5CAE9;
  border: 1px solid white;
}

.searchArea {
  height: 50px;
}

md-toolbar {
  margin-bottom: 50px;
}
