<div ng-controller="CanvasController" layout="column" >
  <div layout="row" layout-align="center">
    <div layout="column" ng-repeat="column in columns"  flex="50" flex-gt-md="20">
      <div class="searchArea" layout="row" layout-align="center center" layout-margin>
        <md-content>
          <form name="submitItem" ng-submit="addItem(text); text=''"ng-show="colIndex === $index-1">
            <md-input-container class="md-title" md-no-float>
              <!-- <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon> -->
              <input ng-model="text" type="text" placeholder="Add new item">
            </md-input-container>
          </form>
        </md-content>
      </div>
      <div ng-class=" node === currentNode || $parent.$index === colIndex+1 ? 'selected' : 'normal'" layout="row" ng-repeat="node in column" layout-padding ng-click="setCurrent(node, $index, $parent.$index)">{{node.title}}</div>
    </div>
  </div>
  <!-- <div>{{current}}</div> -->
</div>
